<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    <h1>Heyyyyyyyy</h1>
    <hr>
    <h2>{{ job.title }}</h2>
    <p>{{ job.description }}</p>
{% endblock %}
{% block javascripts %}
    <script src="{{  asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
